body {
  margin: 0;
  padding: 0;
  background-image: url('./fotos/comida.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  color: #000000;
  text-align: center;
  padding: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.conteudo {
  text-align: center;
  padding: 100px;
  color: #ffffff;
  font-size: 24px;
}

.titulo-comida {
  color: #ffffff;
}


.page-link{
  background-color: #000000;
  color: #ffffff;
}
.logo img {
  height: 50px;
  width: auto;
  margin-left: 20px;
}